@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300..700;1,300..700&display=swap');


@font-face {
    font-family: 'Broadacre';
    src: url('../assets/fonts/Broadacre_Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


