@use 'sass:math';
// container
$containerPaddingS: 2rem;
$containerPaddingM: 6rem;
$containerPadding: 12rem;

// Sizing
$containerMaxWidth: 1200;
$K2Large: 1921px;
$deskXLarge: 1800px;
$deskXLargeP1:  math.div($deskXLarge, 1px) + 1px;
$desk1800: 1799px;
$desk1800P1:  math.div($desk1800, 1px) + 1px;
$deskLarge: 1512px;
$deskLargeP1: math.div($deskLarge, 1px) + 1px;
$desktop: 1440px;
$desktopP1: math.div($desktop, 1px) + 1px;
$tabletLarge: 1199px;
$tabletLargeP1: math.div($tabletLarge, 1px) + 1px;
$tablet: 1024px; 
$tabletP1:  math.div($tablet, 1px) + 1px; 
$tabletSmall: 767px;
$tabletSmallP1: math.div($tabletSmall, 1px) + 1px;
$mobile: 639px;
$mobileP1:  math.div($mobile, 1px) + 1px;
$mobileSmall: 415px;
$mobileSmallP1: math.div($mobileSmall, 1px) + 1px;

// Adaptive Property Sizing
$adaptivePropertyMaxViewport: $containerMaxWidth;
$adaptivePropertyMinViewport: 375;


// Colors

// base
$white: #ffffff;
$black: #000000;
$transparent: rgba(0, 0, 0, .0);
$pink: #FF00EB;
$olive: #9DD9D2;
$orange: #F4D06F;
$primaryDark: #A00A28;
$primaryLight: #FF1A40;
$blue: #003770;
$dark: #262626;
$primary: #9F0928;



// Fonts
$primary-font: "Josefin Sans", sans-serif;
$secondary-font: "Broadacre", sans-serif;




